.shop_index, .shop_workshop {
	.filters {
		width: 100%;position: relative;
		//a {margin: 0px 10px 0px 10px;}
		img {margin: 10px 0 0 1em;}
		li {margin: 0 0.5em;}
		.right {margin: auto;position: absolute;top: 0;/* left: 0; */bottom: 0;right: 0;}
	}
}

