.shop_index, .showroom_index {
	.text {margin-bottom: 4em;}
	.product .title {line-height: 4em;}
	.results .product {margin: 3em 0;padding: 0 2em 2em 2em;} 
	.product:last-of-type {margin-bottom: 6em;}
	.img {position: relative}
	.logo {
		position: absolute;bottom: 0;right: 0;
		img {width: 40px !important;}
	}
}

@media (max-width: map-get($breakpoints, tablet)) {
	.shop_index, .showroom_index {
		.product {width: 100%;}
		.results img {width: 100%;}
	}
}

@media (min-width: map-get($breakpoints, tablet)) {
	.shop_index, .showroom_index {
		.results .product {margin: 3em;}
	}
}

