.shop_show {
	.title {margin-bottom: 1em;}
	.fp-tableCell {vertical-align: bottom;}

	//c1
	.owl-item img {height: calc(100vh - 8em - 5em - 4em);width: auto !important;margin: auto;}
	.owl-dots {margin-top: 2em!important;}
	.owl-dots .owl-dot span {height: 2em;width: 12px;height: 12px;}
	.owl-next, .owl-prev {display: none!important;}
	.arrows {
		opacity: 0;
		transition: opacity 1s linear;position: absolute;z-index: 99;width: 100%;top: 50%;
		-webkit-transition: opacity 1s linear;
		-moz-transition: opacity 1s linear;
		-o-transition: opacity 1s linear;
		-ms-transition: opacity 1s linear;
		img{width: 20px;height: 20px;}
		#btn_prev {float: left;padding-left: 2em;}
		#btn_next {float: right;padding-right: 2em;}
	}

	//C2 et C3
	.icons img {height: 50px;width: 50px;}
	.price, .qties select {margin-left: 1em;}
	.box1 {margin: 0 auto 2em auto;}
	.box2 {margin: 0 auto 1em auto;}
	.with_fabric {display: none;}

	@media (min-width: map-get($breakpoints, tablet)) {
		.owl-item img {height: calc(100vh - 8em - 4em);width: auto !important;margin: auto;}
		.title, .sizes {padding-top: 0;}
		.owl-dots {margin-top: 0!important;}
		.owl-carousel:hover {cursor: pointer;}
		.owl-carousel:hover + .arrows, .arrows:hover {opacity: 1;cursor: pointer;}
		.box1, .box2 {max-width: 80%;margin: 0 auto 2em auto;}
	}
}

