.shop_index, .showroom_index {
	.filters {
		a {margin: 0px 10px 0px 10px;}
		img {margin: 10px 0 0 1em;}
		.left, .right {width: 15%;}
		.middle {width: 70%;}
	}
	.text {margin-bottom: 4em;}
	.product {margin: 3em 0;}
	.product .title {line-height: 4em;}
	.results .product {padding: 2em;}
	.img {position: relative}
	.logo {
		position: absolute;bottom: 0;right: 0;
		img {width: 40px !important;}
	}
}

@media (max-width: map-get($breakpoints, tablet)) {
	.shop_index, .showroom_index {
		.product {width: 100%;}
		.results img {width: 100%;}
		//.text {margin-bottom: 4em;}
	}
}

@media (min-width: map-get($breakpoints, tablet)) {
	.shop_index, .showroom_index {
		.results .product {margin: 2em;}
	}
}

