.showroom_index {
	h3 {margin: 2em auto 1em auto;}
	.results {
		@include flex-flow(row wrap);
		img {width:400px; height:400px;border-radius: 15px;max-width: 95%;}
		.product {margin: 4em 2em 4em 2em;}
	}

	@media (min-width: map-get($breakpoints, tablet)) {
		//.left, .right {width: 20%;}
		//.middle {width: 60%;}
	}
}