.shop_index {
	.filters {
		height: 8em;
		@include justify-content(space-around);
		a {margin: 0px 10px 0px 10px;}
		img {margin: 10px 0 0 1em;}
		.left, .right {width: 15%;}
		.middle {width: 70%;}
	}
	.results {
		@include flex-flow(row wrap);
		img {width:250px; height:250px;border-radius: 15px;}
		.title {margin-bottom: 1em;}
		.product {margin: 2em;}
	}

	@media (min-width: map-get($breakpoints, tablet)) {
		//.left, .right {width: 20%;}
		//.middle {width: 60%;}
	}
}