.shop_show {
	#ez-container{position: absolute;top: 5em;right: -512px;}
	.intro {
		display: flex;flex-flow: column;flex: 1;
		.title {margin: 3em 0 1em 0;} // 3em + 1em by fullpage = 4em (header)
		.owl-carousel {
			display: flex; flex-flow: column wrap; flex: 99;
			.owl-stage-outer {
				display: flex; flex: 99;
				.owl-stage {height: 100%;display: flex; flex: 1;}
				.owl-item {display: flex}
				.item {width: 100%;display: flex;align-items: center;}
				// Fix img dimensions to fit in div
				img {max-width: 100%;width: auto !important;margin: auto;border-radius: 15px;}
			}
			.owl-dots {margin: 1em auto 0 auto;flex: 1;}
			.owl-dots .owl-dot span {height: 2em;width: 12px;height: 12px;}
		}
		.logo {
			position: absolute;margin-top: -2em;
			img {width: 40px !important;}
		}
		.fabric {
			position: absolute;bottom: 1em;right: 1em;z-index: 99;width: 33%;
			img {border-radius: 15px;width: 100%;}
			.delete {
				position: absolute;top: -20px;right: -10px;
				img {width: 20px;}
			}
		}
	}
	.info {
		.icons {
			align-items: flex-start;width: 100%;
			h4 {max-width: 90%;margin: 10px auto 0 auto;}
			img {width: 40px;height: 40px;margin-bottom: 10px;}
		}
	}
	.form {
		.sizes, .fabrics {
			.options {width: 100%;}
		}
		.qties {justify-content: center;}
		.price, .qties select {margin-left: 1em;}
		.with_fabric {display: none;}
		.sizes, .fabrics, .buy {
			h3 {margin: 0 1em 0 0;}
			img {width: 40px;}
		}
		.buy .buttons {width: 100%;}
		.fabrics .dimensions .big_size {display: none;}
	}

	@media (max-width: map-get($breakpoints, tablet)) {
		.owl-carousel img {max-height: 350px !important;}
		.owl-next, .owl-prev {display: none!important;}
		.form {
			.fabrics {margin: 2em auto;}
			.cancel {margin: 0 auto;}
		}
	}

	@media (min-width: map-get($breakpoints, laptop)) {
		.intro {
			.owl-carousel {
				height: calc(100vh - 4em - 2em);position: relative;
				div:not(.owl-nav):not(.owl-dots):not(#btn_prev):not(#btn_next) {height: 100%;}
				.owl-item img {max-width: 100%;max-height: 100%;height: auto;width: auto;margin: auto;}
				.owl-nav {display: none;}
				.owl-dots {position: relative;}
				#btn_prev, #btn_next {
					position: absolute; top: -7px;
					img {width: 20px; height: 20px;}
				}
			}
			.fabric {bottom: -1em;}
		}
		.info {
			max-height: calc(512px + 5em); // to be covered by ez-container
			.description, .icons, .buttons {margin: 0 auto;width: 80%;}
			.icons h5 {max-width: 80%;margin: auto;}
		}
		.form {
			max-height: calc(512px + 5em); // to be covered by ez-container
			//input, label, btn {margin: 0.5em auto;}
			input + span {max-width: 80%;}
			.title {flex: 0; //margin-bottom: 2em;
			}
			.sizes, .fabrics, .buy {margin: 0 auto;width: 80%;}
			.sizes .options {margin: 0;width: 100%;}
			.icons {max-width: 400px;}
			.buttons {position: relative;}
			.cancel {margin: 0;}
		}
	}
}
