.welcome.c0 {
	ul {width: 1024px;max-width: 90%; margin: 0 auto; padding: 0 20px;}
	li {width: 190px;height: 250px;padding: 0px 10px 0px 10px;border-radius: 15px;}
	//.fp-tableCell {vertical-align: middle;}
	.arrow {
		position: absolute;left: 0;right: 0;bottom: 10px;
		img {width: 40px;height: 40px;}
	}
}
.welcome.c1 {
	.process {
		img {width: 120px;height: 120px;}
		li:not(:nth-child(1)) {padding-top: 1em;}
	}
}

.welcome.c2 {
	.comment {
		h1 {margin: 0;text-align: left;line-height: 0;font-size: 80px; }
		h3 {text-align: middle;}
		img {width: 130px;height: 130px;}
		.text {margin-top: 1em;}
		.name {text-align: right;}
	}
	.instagram  {
		margin-top: 2em;
		img {width: 150px;height: 150px;}
	}
}

.welcome.c3 {
	.follow .inline {margin: 1em auto;}
	.newsletter {margin-top: 4em;}
}

@media (max-width: map-get($breakpoints, tablet)) {
	.welcome.c0 .title {    
		border-radius: 10px;
	    padding: 1em;
	    background-color: rgba(135, 216, 211, 0.30);
	}
}

@media (min-width: map-get($breakpoints, tablet)) {
	.welcome.c0 {
		.fp-tableCell {vertical-align: top;}
		.title {padding-top: 16vh;}
		.intro {
			@include flexbox; @include flex-flow(row nowrap); @include justify-content(space-around);
			position: absolute;bottom: 80px;
			left:0;right:0;margin-left:auto;margin-right:auto;
			img :not(.icon) {width: 170px;height: 170px;}
			li {@include flexbox; @include flex-flow(row wrap); @include justify-content(center); @include align-items(center);}
		}
	}
	.welcome.c1 {
		.process {
			img {width: 200px;height: 200px;}
			li {@include flexbox; @include flex-flow(row nowrap); @include justify-content(space-around); @include align-items(center);
				width: 75%;
				* {margin: 0 1em;}
			}	
		}
	}

	.welcome.c2 {
		.comment {margin: 5em auto;max-width: 75%;}
		.comment img {width: 200px;height: 200px;}
		.text {margin-left: 2em;margin-top: 3em;}
		.instagram img {height: 250px; width: 250px;}
	}

	.welcome.c3 {
		.follow img {width: 60px;height: 60px;}
		.follow .inline {width: 30%;}
		.newsletter {
			li {@include flexbox; @include justify-content(center); @include align-items(center);}
			.zipcode {margin-bottom:0;text-align: left;}
			.zipcode input {width: 20%;}
			.email {text-align: left;}
			.email input {width: 50%;}
		}			
	}
}




