footer {display: none;}
footer .content {@include flexbox; @include justify-content(space-around); @include align-items(center);} 
footer.pushed {position: relative;}

@media (min-width: map-get($breakpoints, tablet)) {
	footer .content {height: 100%;@include justify-content(space-between);}
	footer .logo {width:50%;padding-left: 1em; * {float: left;}}
	footer .copyright {position: absolute;left: calc(50% - 50px);}
	footer .links {width: 50%;display: inherit;padding-right: 1em; * {float: right;}}
	span {margin-left: 5px;}
}