footer {
	width: 100%; bottom: 0px;margin-top: 4em;
	.content {
		li:not(.tb, .lt) {display: block;}
		height: 5em;
	}
}

@media (min-width: map-get($breakpoints, tablet)) {
	footer {
		.content {
			@include flexbox; @include flex-flow(row wrap); @include justify-content(space-between); @include align-items(center);
			ul {
				@include flexbox; @include flex-flow(row wrap); @include justify-content(space-between); @include align-items(center);
				li:first-of-type {margin-right: 3em;}
				li:last-of-type {margin-right: 1em;}
			}
			.logo {margin-left: 1em;float: left;}
			.copyright {position: absolute;left: calc(50% - 50px);}
		}
	}
}