header {
	@include flexbox; @include flex-flow(row nowrap);@include align-items(center);@include justify-content(space-between);
	.logo {margin: auto;}
	.links {position: absolute;right: 1em;}
	.logo-left {
		display: inherit;@include flexbox;@include align-items(center);
		li:nth-child(1) {margin: 0px 0px 0px 20px;}
		li:nth-child(2) {margin-left: 5px!important;}
	}	

	@media (min-width: map-get($breakpoints, tablet)) {
		li {margin: 0px 20px 0px 20px;}
		.logo {margin: 0;padding-left: 1em;}
		.links {img {margin: 0px 5px 0px 5px;}}
		.cart_nb {display: none;position: absolute;top: 15px;right: 0;border-radius: 30px;width: 30px;height: 30px;}
	}

}


