.mb_menu {
	width: 80%;
	background-color: $red;
	.logo {height: 100px;background-color: white;}
	img {height: 60%;}
	li {background-color: $red;min-height: 80px;list-style-position:inside;border: 1px solid white;}
	//li h2 {width: 90%;}
	
}

@media (min-width: map-get($breakpoints, tablet)) {
	.mb_menu {width: 30%;}
}



