.mb_menu {
	width: 80%;
	background-color: white;
	li{
		width: 100%;height: calc(100vh / 6);
		@include flexbox; @include justify-content(center); @include align-items(center);
	}
	li:not(.logo) {background-color: $red;list-style-position:inside;border: 1px solid white;}
	li:last-child {border-bottom: none;}
	li h2 {width: 90%;}
	img {height: 60%;}
}

@media (min-width: map-get($breakpoints, tablet)) {
	.mb_menu {width: 30%;}
}



