.mb_menu {
	display: none;
	z-index: 999;
	position: absolute; top: 0; width: 100%; min-height: 100%;background-color: white;
	li{width: 100%;height: 100px;@include flexbox; @include justify-content(center); @include align-items(center);}
	li:not(.logo) {height: 100px;background-color: $red;list-style-position:inside;border: 1px solid white;}
	li:last-child {border-bottom: none;}
	img {height: 60%;}
}




