%section.showroom_index.c5
	%h3= t('.title')
	%h4= t('.contact')
	.results.inline
		- @products.each do |product|
			.product{ id: "item_#{product.serial}" }
				= image_tag product.product_pictures.first.image.url.to_s


	
:javascript
	$(document).ready(function() {
		$('#footer').show().addClass('pushed');
	});