.true
	%h5= t('shop.details_form.dimensions', length: product.fabric_lng_std, large: product.fabric_lrg_std)
.false
	%h5= t('shop.details_form.dimensions', length: product.fabric_lng_big, large: product.fabric_lrg_big)