= form_for @order_line, authenticity_token: true, class: 'sized' do |f|
	= f.hidden_field :product_id, value: @product.id
	= render partial: 'shop/product_show', locals: {f: f, product: @product, sizes: @sizes}