/* Init file */

*, html, body {margin: 0; padding:0;}
body {overflow-x: hidden;}
html {height: 100%;}
div, header, footer {margin: 0px; padding: 0px; text-align: center;}
ul, li {list-style-type: none;vertical-align: middle;width: 100%;//margin: auto;
	padding: 0;}
//input {border: none;}
img { vertical-align: middle;}
table {margin: auto;}

//Typi breakpoint variables
$breakpoints: (mobile: 320px, tablet: 720px, laptop: 1024px, desktop: 1366px);

@media (max-width: map-get($breakpoints, tablet)) {
	.tb {display: none !important;}
	.tb, .lt, .dt {display: none;}
}

@media (min-width: map-get($breakpoints, tablet)) {
	.tb {display:inline;}
	.mb {display: none !important;}
}

@media (min-width: map-get($breakpoints, laptop)) {
	.lt {display:inline;}
}

@media (min-width: map-get($breakpoints, desktop)) {
	.dt {display:inline;}
}