/* ------------------------------ Colors  ------------------------------ */

$red: rgba(99,8,26,1);
$red_trsp: rgba(99,8,26,0.1);
$green: rgba(92,181,42,1);
$grey: rgba(8,52,66,1);
$grey_trsp: rgba(8,52,66,0.1);
$white: rgba(255,255,255,1);
$white_trsp: rgba(255,255,255,0.6);
$info: rgba(135, 216, 211, 0.80);
$danger: rgba(204, 0, 0, 0.80);
$success: rgba(92, 181, 42, 0.80);

/* ------------------------------ Layout  ------------------------------ */

a, h1, h2, h3, h4, h5, input, span, p {color: $red;}
a.selected {color: $green;}

header, footer {
	a.white {color: $white;}
    a:hover {color: $green;}
    .cart {h4 {color: $white;background-color: $green;}
  }
}
header.white-bkg {background-color: white;}

footer {
	span {color: $green;}
	background-color: $white;
}

#flash_msg {color: $white;}
.flash_notice {background: none repeat scroll 0% 0% $info;}
.flash_alert {background: none repeat scroll 0% 0% $danger;}
.flash_success {background: none repeat scroll 0% 0% $success;}

#devise_modal {
	.links, .links > a, a {color: $white;}
	h2.cross {color: $white;}
}

@media (min-width: map-get($breakpoints, tablet)) {
  #devise_modal {background-color: $white_trsp;}
}

.c2, .c3 {background-color: $white;}
.mb_menu {
	a, span, h2 {color: $white;} 
}
.green {color: $green;}

.owl-theme {
	.owl-dots .owl-dot.active span {background-color: $red;}
	.owl-nav [class*='owl-']:hover {background: $red;}
}

.one-edge-shadow {
  border: 2px solid $grey_trsp;border-radius: 15px;
  -webkit-box-shadow: 0 12px 12px -6px $grey_trsp;
     -moz-box-shadow: 0 12px 12px -6px $grey_trsp;
          box-shadow: 0 12px 12px -6px $grey_trsp;
}

/* ------------------------------ Pages  ------------------------------ */

.welcome {
  .intro {
    h2 {color: $white;}
  	h3, h4 {color: $red;}
    li {background-color: $white_trsp;}
  }
  .instagram .title h3 {color: $green;}
  .follow h3 {color: $red;}
}
.shop_index, .shop_workshop {
  .filters h3 {color: $green;}
}
.showroom_index, .shop_workshop {
  h4 {color: $green;}
}

.shop_show {
  .title span {color: $green;}
  h4.cancel {color: $danger;}
}


