/* ------------------------------ Colors  ------------------------------ */

$red: rgba(99,8,26,1);
$red_trsp: rgba(99,8,26,0.1);
$green: rgba(92,181,42,1);
$grey: rgba(8,52,66,1);
$grey_trsp: rgba(8,52,66,0.1);
$white: rgba(255,255,255,1);
$white_trsp: rgba(255,255,255,0.6);
$info: rgba(135, 216, 211, 0.80);
$danger: rgba(204, 0, 0, 0.80);
$success: rgba(92, 181, 42, 0.80);

/* ------------------------------ Layout  ------------------------------ */

a, h1, h2, h3, h4, h5, input, span, p {color: $red;}
a.selected {color: $green;}

header, footer {
	a.white {color: $white;}
    a:hover {color: $green;}
    .cart {
    	background-color: $green;
    	h4 {color: $white;}
    }
}

footer {
	span {color: $green;}
	background-color: $white;
}

#flash_msg {color: $white;}
.flash_notice {background: none repeat scroll 0% 0% $info;}
.flash_alert {background: none repeat scroll 0% 0% $danger;}
.flash_success {background: none repeat scroll 0% 0% $success;}

#devise_modal {
	.links, .links > a, a {color: $white;}
	h2.cross {color: $white;}
}

.c2, .c3 {background-color: $white;}
.mb-menu {
	a, span, h2 {color: $white;} 
}
.price {color: $green;}

.owl-theme {
	.owl-dots .owl-dot.active span {background-color: $red;}
	.owl-nav [class*='owl-']:hover {background: $red;}
}

/* ------------------------------ Pages  ------------------------------ */

.welcome.c0 .title h2 {color: $white;}
.welcome .intro {
	h3, h4 {color: $red;}
    li {background-color: $white_trsp;}
}
.welcome .instagram h3 {color: $green;}
.welcome .follow h3 {color: $red;}
.shop_index .filters h3 {color: $green;}
.showroom_index h4 {color: $green;}

@media (min-width: map-get($breakpoints, tablet)) {
	.shop_index, .showroom_index {
		 .product {border: 2px solid $grey_trsp;}
	}
	.one-edge-shadow {
	  -webkit-box-shadow: 0 12px 12px -6px $grey_trsp;
	     -moz-box-shadow: 0 12px 12px -6px $grey_trsp;
	          box-shadow: 0 12px 12px -6px $grey_trsp;
	}
}

.shadow {
   -moz-box-shadow:    inset 0 0 10px $grey_trsp;
   -webkit-box-shadow: inset 0 0 10px $grey_trsp;
   box-shadow:         inset 0 0 10px $grey_trsp;
}

.effect2
{
  position: relative;
}
.effect2:before, .effect2:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.effect2:after
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}

.effect8
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect8:before, .effect8:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.effect8:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}
