//= form_for @picture, remote: true, authenticity_token: true html: { multipart: true } do |f|
#fileupload
	= form_for @new_picture, html: { multipart: true }, remote: true, authenticity_token: true do |f|
		= f.hidden_field :gallery_id
		= f.file_field :image, required: true, multiple: true, name: "images[]"
		= f.submit

:javascript
	$(function () {
		uploader = $('#fileupload').fileupload()
	}

