%table
    %thead
        %tr
            %th title
            %th kind
            %th customer
            %th family
            %th description
            %th price
            %th price unit
            %th measure
            %th measure unit
            %th activated
            %th event
            %th pictures
            %th maintenance
    

