/* ------------------------------ Layouts  ------------------------------ */

// field to accompagny materialized inputs
.input-entry {max-width: 300px;margin: 2em auto;}

@media (min-width: map-get($breakpoints, tablet)) {
	.input-field {max-width: 300px;margin-left: auto;margin-right: auto;}
	input[type="submit"] {margin-top: 2em;}    
}

/* ------------------------------ Custom buttons  ------------------------------ */

.btn-green {border:2px solid $green;}
.btn-red {border:2px solid $danger; *{color: $red;}}
.btn-info {border:2px solid $info;}
.btn-valid {background: $green;color: $white; *{color: $white;}}
.btn-cancel {background: $danger;color: $white; *{color: $white;}}


.btn, .btn-custo {
	font-family: $light;font-size: 1em;
	// Fix Materialize behavior
	border-radius: 7px !important;text-transform: none!important; 
}
.btn-custo {
	margin: 1em auto;width: 80%;min-height: 3em;
	@include flexbox; @include justify-content(space-around);@include align-items(center);
}
.btn-custo.big {height: 4em;}

@media (min-width: map-get($breakpoints, tablet)) {
	.btn-custo {max-width: 50%;}
}

/* ------------------------------ Custom radios  ------------------------------ */

//label {width: 100%;}
label.option {
	@include flexbox; @include align-items(center);
	input {display: none;}
	input + span, a {
		@include flexbox; @include flex-flow(column nowrap);@include align-items(center);@include justify-content(center);
		//max-width: 120px;min-width: 100px;
		height: 3em;line-height: 1.5em;padding: 0 1em;margin: 0 1em;
		border-radius: 10px;background-color:$grey_trsp;border: none;
	}
	input:checked + span {background-color:$white;border:3px solid $green;}
}
label.option.full {
	input + span {background-color: $danger;color: $white;border: none;}
	input:checked + span {background-color:$green;border: none;}
}