%table
    %thead
        %tr
            %th id
            %th pseudo
            %th email
            %th avatar
            %th registered
            %th date of registration
            %th last connection
    

