
%h1= "Users administration"

#users_area
	= render partial: 'admin/users/table_header'
	- @users.each do |user|
		= render partial: 'admin/users/show_user_to_admin', locals: { user: user }

#new_area






